body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.site {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 150px;
    font-size: 22px;
    line-height: 1.7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    flex-basis: 600px;
    box-shadow: 0 10px 45px rgba(0,0,0, .1);
}

.quote::first-letter {
    float: left;
    font-family: Georgia, sans-serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.author {
    text-align: right;
    font-style: italic;
}

.author:before {
    content: "-"
}

footer {
    display: flex;
    align-items: center;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.skeleton {
    width: 600px;
    height: 300px;
    background-image:
        linear-gradient(
            90deg,
            rgba(211, 211, 211, 0) 0,
            rgba(211, 211, 211, .8) 50%,
            rgba(211, 211, 211, 0) 100%
        ),
        linear-gradient(white 15px, transparent 0),
        linear-gradient(white 15px, transparent 0),
        linear-gradient(white 15px, transparent 0),
        linear-gradient(white 15px, transparent 0),
        linear-gradient(white 15px, transparent 0),
        linear-gradient(white 50px, transparent 0),
        linear-gradient(#dcdcdc 100%, transparent 0);

    background-size:
        200px 350px,
        90% 15px,
        90% 15px,
        80% 15px,
        60% 15px,
        25% 15px,
        30% 50px,
        100% 100%;

    background-position:
        -150% 0,
        30px 30px,
        30px 60px,
        30px 90px,
        30px 120px,
        92% 160px,
        50% 220px,
        0 0;

    background-repeat: no-repeat;
    animation: loading 2.5s infinite;
}

@keyframes loading {
    to {
        background-position:
            350% 0,
            30px 30px,
            30px 60px,
            30px 90px,
            30px 120px,
            92% 160px,
            50% 220px,
            0 0;
    }
}
